{% extends 'base.html' %}

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-Z8MJKC3L7C"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-Z8MJKC3L7C');
</script>

{% block content %}
<section class="content">
    <br>
  <header>
      <div class="big_text">
      <p>Example input file -
          <button class="btn download-button">
            <a class="download-link" href="/download-example-files">download</a>
          </button>
      </p>
      </div>
  </header>
</section>
{% endblock %}