{% extends 'new_base.html' %}

{% block content %}
<style>
  * {
    box-sizing: border-box;
  }

  #form{
    margin-left: -15%;
    margin-top: -5%;
  }

  .column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  </style>


  {% macro build_option(name, selected_att) -%}

    <script>

        function calc() {
          document.getElementById("calc").innerHTML = "Calculating...";
        }
        function show_graph() {
            const dict = {'Pearson correlation bacteria': 0, 'Pearson correlation patient': 1, 'Heatmap after standardization': 2,
                'Histogram of samples variance': 3, 'Density of samples': 4,'Relative frequency stacked': 5 ,
                'Beta Diversity PCOA':6, 'Beta Diversity UMAP' : 7, 'Correlation between component and label': 8, 'Boxplot by the grouping file': 9};
            const input = document.getElementById("choose_graph");
            const name = input.options[input.selectedIndex].value;
            const data = {{ images_names|safe }}
            document.getElementById("img").src = "/get_image/" + data[dict[name]];
            if (imageExists("/get_image/"+data[dict[name]])){
                document.getElementById("img").style = "height: 700px; width: 1000px; margin-left: 50px"
                document.getElementById("tagmsg").innerHTML = ""
            }
            else {
                document.getElementById("img").style = "height: 0; width: 0"
                if (name == 'Boxplot by the grouping file') {
                    document.getElementById("tagmsg").innerHTML = "No groups files given..."
                } else {
                    document.getElementById("tagmsg").innerHTML = "No Tags files given..."
                }
            }
        }

         function calculating() {
             document.getElementById("calc").innerHTML = "Calculating...";
             document.getElementById("img").style = "margin-left: 50px"
        }


        function imageExists(image_url){
            var http = new XMLHttpRequest();
            http.open('GET', image_url, false);
            http.send();
            return http.status != 404;
        }
    </script>

    <body>
        {% if name == selected_att %}
      <option value="{{ name }}" selected="selected">{{name}}</option>
    {% else %}
      <option value="{{ name }}">{{name}}</option>
    {% endif %}
    {%- endmacro %}


  {% if images_names != None %}

     <br>
    <button class="download-button">
      <a href="/download-outputs">download graphs and files</a>
    </button>
    <br>
    <div class="with_part_margin">
      <label  for="choose_graph">Choose a graph<br></label>
      <select name="choose_graph" id="choose_graph">
            javascript get input from
            {{ build_option('Pearson correlation bacteria', choose_graph) }}
            {{ build_option('Pearson correlation patient', choose_graph) }}
            {{ build_option('Heatmap after standardization', choose_graph) }}
            {{ build_option('Histogram of samples variance', choose_graph) }}
            {{ build_option('Density of samples', choose_graph) }}
            {{ build_option('Relative frequency stacked', choose_graph) }}
            {{ build_option('Beta Diversity PCOA', choose_graph) }}
            {{ build_option('Beta Diversity UMAP', choose_graph) }}
            {{ build_option('Correlation between component and label', choose_graph) }}
            {{ build_option('Boxplot by the grouping file', choose_graph) }}
      </select>
    </div>
    <br>
    <div>
      <button class="btn" id="graph_button" type="button" onclick=show_graph()>show</button>
    </div>
    <p class="with_part_margin" id="tagmsg"></p>
    <p><img src="no_image.png"; style="height: 0; width: 0" id="img" /></p>
    <form method="post"  enctype=multipart/form-data class="">
    <div class="with_part_margin">
        <label for="tag_file">Select a Tag file:</label>
        <input type=file id="tag_file" name="tag_file" value="{{tag_file}}">
        <br>
        <label for="groups_file">Select a groups file:</label>
        <input type=file id="groups_file" name="groups_file" value="{{groups_file}}">
        <br><br>
    </div>
         <input class="btn" type="submit" value="calculate" onclick="calculating()">
    </form>
    <form class="central_box" action="/get_diversities" method="post"  enctype=multipart/form-data class="" id="form">
        <table>
            <td>
            <div>
              <label for="alpha_div">Alpha diversity metric<br></label>
              <select name="alpha_div" id="alpha_div">
                {{ build_option('Shannon', taxonomy_level_for_frequency_plot) }}
                {{ build_option('Observed OTUs', taxonomy_level_for_frequency_plot) }}
                {{ build_option('Chao1', taxonomy_level_for_frequency_plot) }}
              </select>
            </div>
            </td>

            <tr>
            <td>
            <div>
              <label for="beta_div">Beta diversity metric<br></label>
              <select name="beta_div" id="beta_div">
                {{ build_option('Bray-Curtis', taxonomy_level_for_frequency_plot) }}
                {{ build_option('Unwieghted unifrac', taxonomy_level_for_frequency_plot) }}
                {{ build_option('Weighted unifrac', taxonomy_level_for_frequency_plot) }}
              </select>
            </div>
            </td>
            </tr>
        </table>
        <br>

        <input class="submit_btn" type="submit" value="get diversities" onclick="calc()">
            <p id = calc></p>

    </form>

    </body>
  {% else %}
      <h3 class="with_margin">No results at the moment...</h3>
  {% endif %}


{% endblock %}